.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #a9a9a9;
  color: white;
}

.app-name-link {
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  font-family: 'American Typewriter';
}

.header-actions .login-button,
.header-actions .logout-button {
  font-size: 16px;
  color: white;
  text-decoration: none;
  background-color: #007BFF;
  padding: 5px 10px;
  border-radius: 5px;
}

.header-actions .login-button:hover,
.header-actions .logout-button:hover {
  background-color: #0056b3;
}

